$rounded: 0.5vmin;
$foreground: #fff;
$background: #000;
$success:#16ad49;
$highlight: #eb0029;

$successHover: darken($success, 10%);
$highlightHover: darken($highlight, 10%);
$hover: #cdcdcd;
$gray: darken(#fff, 25%);
